html{
    font-family: 'Work Sans', sans-serif;
    margin:0px;
}
#header{
    box-shadow: 0 1px 0 lightgrey,0 10px 5px rgba(0, 0, 0, .3);
}
.globalcrypto{
    overflow: hidden;
    text-align: center;
    background-color:grey;
    width:100%;
    height:40px;
    top:0px;
    left:0px;
    position:fixed;
}
.globalcrypto div p{
    display: inline-block;
    text-align: center;
    width:100%;
    line-height:50%;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 20s linear infinite;
    white-space: pre;
}
    /* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-130%); /* Browser bug fix */
    -webkit-transform: translateX(-130%); /* Browser bug fix */
    transform: translateX(-130%); 
    }
}
.left-following{
    display:inline-block;
}
#content{
    margin-top:50px;
}
#tables{
    display: none;
    background: grey;
    color: #FFF;

    padding-top: 20px;
    padding-bottom: 20px;
    
    width: 100%;
    margin-left:0px;
    margin-right:0px;
    box-shadow: inset 0 0 10px #000000;
    left:0px;
    position:fixed;
}
hr{
    margin-right:0px;
    margin-bottom: 0px;
    padding:0px;
}
#header-title{
    padding: 0px;
    margin: 0px;
}
.main-title{
    text-align: center;
}
.dropdown{
    text-align: center;
    float: none;
    display:block;
    margin-top: 20px;
}
.dropdown select{
    margin-left:3px;
    margin-right: 3px; 
    margin-top:0px;
    margin-bottom: 10px;
}
.dropdown select:last-child{
    margin-left: 10px;
}
.ddmenu{
    width: 100px;
    height: 20px;
}
.buttons{
    display:inline-block;
    margin: auto;
}
.sbutton{
    width:100px;
    height:40px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 lightgrey,0 2px 5px rgba(0, 0, 0, .2);
    padding:5px;
    margin-right: 5px;
}
.sbutton:hover{
    filter:brightness(1.5);
}
tr th:last-child{
    font-weight:400;
}
.cryptoinfo{
    display:flex;
    margin: auto;
    max-width: max-content;
    padding:10px;
    text-align:center;        
    border-radius:8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}
.cryptoinfo table{
    width:max-content;
    display:inline-block;
    padding: 5px;
    box-sizing:border-box;
    margin-right:5px;
}
.cryptoinfo1{
    height:max-content;
    width:max-content;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}